.brandPhoto {
    transition-duration: 600ms;
    transition-timing-function: ease;
  }
  
  .brandPhoto.tp-transform {
    transition-property: transform;
  }
  
  .brandPhoto:is(:hover, :focus) {
    transform: scale(1.3);
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }
  
  .wrapper .brandPhoto:nth-child(odd) {
    justify-self: end;
  }
  
  .wrapper .brandPhoto:nth-child(even) {
    justify-self: start;
  }

  /* Decorative styles */
  body {
    display: grid;
    place-items: center;
  }